{% load i18n static %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-6">
                <div class="text-muted text-sm float-left">
                    &copy; {% now 'Y' %}, Creado con &hearts; por Soffybiz
                </div>
            </div>
            <div class="col-6">
                <div class="text-muted text-sm float-right">
                    Soffybiz
                </div>
            </div>
        </div>
    </div>
</footer>