{% load static %}
<script src="{% static 'assets/js/core/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/moment.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert2.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
{#<script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>#}
<script src="{% static 'assets/js/plugins/DataTables-2-bootstrap/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
{% comment %} <script src="/static/assets/js/plugins/jasny-bootstrap.min.js"></script> {% endcomment %}
<script src="{% static 'assets/js/plugins/nouislider.min.js' %}"></script>
<script src="{% static 'assets/js/ajax_core.js' %}"></script>
<script src="{% static 'assets/js/plugins/arrive.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/chartist.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
<script src="{% static 'assets/js/material-dashboard.js' %}"></script>
<script src="{% static 'assets/js/menu.js' %}"></script>
<script src="{% static 'assets/js/soffybiz.js' %}"></script>
<script src="{% static 'assets/js/notifications.js' %}"></script>
<script src="{% static 'assets/js/plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/html2canvas/html2canvas.min.js' %}"></script>
