<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Grupo Buena - Inicio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="/static/assets/img/mundo.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Laura - v4.7.0
  * Template URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    .img-estilo {
      margin: 5px;
      height: 200px;
    }
  </style>
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex justify-content-center align-items-center">
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="index.html">Home</a></li>
        <li><a class="nav-link scrollto" href="index.html#about">About Us</a></li>
        <li><a class="nav-link scrollto" href="index.html#presence">Presence</a></li>
        <!-- <li><a class="nav-link scrollto" href="index.html#brand">Our Brands</a></li> -->
        <li class="dropdown"><a href="#products"><span>Products</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="chicken.html">Poultry</a></li>
            <li><a href="pork.html">Pork</a></li>
            <li><a href="beef.html">Beef</a></li>
            <li><a href="turkey-duck.html">Turkey/Duck</a></li>
            <li><a href="offal.html">Offal</a></li>
            <li><a href="veg-fruit-fries.html">Veg/Fruit/Fries</a></li>
            <li><a href="lamb-mutton-goat.html">Lamb/Mutton/Goat</a></li>
            <li><a href="grocery.html">Grocery</a></li>
            <li><a href="seafood.html">Seafood</a></li>
          </ul>
        </li>
        <!-- <li><a class="nav-link scrollto" href="index.html#novelties">news</a></li> -->
        <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </header><!-- End Header -->
  <div style="height: 80px;"></div>

  <!-- ======= Hero Section ======= -->
  <!--<section id="hero" style="height: auto;">
    <div class="hero-container">
      <h1>
        <img src="/static/assets/img/logo-long-trans-blanco.png" alt="" class="img-fluid" style="height: 50px;">
      </h1>-->
      <!--<h2>Slogan of Boston Agrex</h2>-->
      <!--<a href="#presence" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section>--><!-- End Hero -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="about">
      <div class="container-fluid">
        <div class="section-title" style="padding: 0 0;">
          <span style="top: 0;">Grocery</span>
          <h2>Grocery</h2>
        </div>

        <div class="row" >
          <div class="col-sm-12 col-md-4" style="border: 0px solid #000; text-align: center;padding: 50px 10px;">
            <img src="/static/assets/img/imagenes_compradas/stock-photo--buffalo-mozzarella-isolated-on-white-background-1681988134.jpg" class="img-fluid">
          </div>
          <div class="col-sm-12 col-md-4" style="border: 0px solid #000; padding: 50px 10px;">
            <p>
              At our company, we are dedicated to providing our customers with high-quality groceries products that meet and exceed the standards of the food industry. We work closely with our suppliers to ensure that only the best products are sourced, and we maintain a strict cold chain to preserve the freshness and quality of the groceries during transportation. Our products go through rigorous quality control and sanitation checks to ensure they meet the standards of every country they are exported to.
              <br><br>
              We take pride in our commitment to transparency and traceability, and we are dedicated to providing our customers with detailed information about the origin and quality of our products. Our customers can trust that they are receiving the highest quality groceries products available. We understand the importance of delivering safe and healthy products, and we are committed to upholding the highest standards of quality control and sanitation in everything we do.
            </p>
          </div>
          <div class="col-sm-12 col-md-4" style="border: 0px solid #000; padding: 50px 10px;">
            <p>Products we handle:
              <ol>
                <li>MOZZARELLA CHEESE</li>
                <li>FLOUR TORTILLAS</li>
                <li>WHEAT TORTILLAS</li>
                <li>BAGELS</li>
                <li>CROISSANTS</li>
                <li>PARMESAN CHEESE</li>
                <li>PASTRY DOUGH</li>
                <li>PITA STUFFS</li>
                <li>MUFFINS</li>
              </ol>
            </p>
          </div>
        </div>
        <div class="row justify-content-center" >
          <div class="col-md-12 text-center">
            <img src="/static/assets/img/imagenes_compradas/stock-photo-flour-tortillas-isolated-on-white-288096377.jpg" class="img-fluid img-estilo">
            <img src="/static/assets/img/imagenes_compradas/stock-photo-set-of-fresh-bagels-isolated-on-white-background-top-view-1213057912.jpg" class="img-fluid img-estilo">
            <img src="/static/assets/img/imagenes_compradas/stock-photo-freshly-baked-croissants-on-grey-wooden-table-top-view-642373528.jpg" class="img-fluid img-estilo">
            <img src="/static/assets/img/imagenes_compradas/stock-photo-slice-of-italian-parmesan-cheese-vacuum-packed-isolated-on-white-with-clipping-path-84557443.jpg" class="img-fluid img-estilo">
          </div>
        </div>
      </div>
      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <!-- <h3>Laura Thomson</h3>
      <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> -->
      <div class="copyright">
        &copy; Copyright <strong><span>Grupo Buena</span></strong>. All Rights Reserved
      </div>

      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/ -->
        Designed by <a href="http://grupobuena.com/" target="_blank">IT, Grupo Buena, S. A.</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>
</body>
</html> 