{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Reporte de Sueldos {% endblock title %}

{% block stylesheets %}
    <style></style>
{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Reporte de Sueldos</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12" id="cntTable"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script async defer>
        const strUrlGetData = "{% url 'rrhh-reporte_sueldos_get_data' %}",
            valCSRF = getCookie('csrftoken');
        let urlGetDataEmployee = "{% url 'rrhh-ficha_empleados_get_ficha' 0 %}";
    </script>
    <script src="{% static 'modules/rrhh/reporte_sueldos/reporte_sueldos.js' %}" async defer></script>
{% endblock javascripts %}