{% extends "layouts/base.html" %}

{% block title %} Cambio de contraseña {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_box</i>
                        </div>
                        <h4 class="card-title">Cambio de contraseña</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <form method="POST" name="frm_password">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <div class="row">
                                <div class="col-sm-12">
                                    <ul>
                                        <li>Su contraseña no puede ser muy similar a su otra información personal.</li>
                                        <li>Su contraseña debe contener al menos 8 caracteres.</li>
                                        <li>Su contraseña no puede ser una contraseña de uso común.</li>
                                        <li>Tu contraseña no puede ser completamente numérica.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-outline-success" id="btnSave">
                                            <span class="material-icons">save</span>
                                            Actualizar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
  
  <script>
    document.getElementById('btnSave').addEventListener('click', () => {
       dialogConfirm(simple_submit, 'frm_password');
    });
  </script>

{% endblock javascripts %}
