{% extends "layouts/base.html" %}

{% block title %} Contraseña actualizada {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_box</i>
                        </div>
                        <h4 class="card-title">Contraseña actualizada</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <form method="POST" name="frm_password">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-success text-center" role="alert">
                                      <b>Contraseña actualizada.</b>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
  
  <script>
    document.getElementById('btnSave').addEventListener('click', () => {
       dialogConfirm(simple_submit, 'frm_password');
    });
  </script>

{% endblock javascripts %}
