{% extends "layouts/base.html" %}

{% block title %} Bancos {% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Bancos</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar text-right">
                            <a href="{% url 'mantenimiento-bancos_create' %}"
                               class="btn btn-gradient-success text-right">
                                <i class='fa fa-plus'></i>
                                Nuevo
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-12">

                                <div class="row">
                                    <div class="col-12 cnt-table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="px-4 py-2">Cueta Banco</th>
                                                    <th class="px-4 py-2">Nombre Banco</th>
                                                    <th class="px-4 py-2">ChequeSigue</th>
                                                    <th class="px-4 py-2">Cuenta Contable</th>
                                                    <th class="px-4 py-2">Moneda</th>
                                                    <th class="px-4 py-2">Saldo Inicial</th>
                                                    <th class="px-4 py-2">Fecha Inicial</th>
                                                    <th class="px-4 py-2">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for banco in page_obj %}
                                                <tr>
                                                    <td class="border px-4 py-2">
                                                        {% if banco.cueban %}{{ banco.cueban }}{% endif %}</td>
                                                    <td class="border px-4 py-2">
                                                        {% if banco.nomban %}{{ banco.nomban }}{% endif %}</td>
                                                    <td class="border px-4 py-2">{% if banco.chequesigue %}
                                                        {{ banco.chequesigue }}{% endif %}</td>
                                                    <td class="border px-4 py-2">
                                                        {% if banco.ctacon %}{{ banco.ctacon }}{% endif %}</td>
                                                    <td class="border px-4 py-2">
                                                        {% if banco.moneda %}{{ banco.moneda }}{% endif %}</td>
                                                    <td class="border px-4 py-2">{% if banco.saldoinicial %}
                                                        {{ banco.saldoinicial }}{% endif %}</td>
                                                    <td class="border px-4 py-2">{% if banco.fechainicial %}
                                                        {{ banco.fechainicial|date:'d/m/Y' }}{% endif %}</td>
                                                    <td class="border px-4 py-2 td-actions text-left">
                                                        <a type="button" rel="tooltip"
                                                           class="btn btn-just-icon btn-link btn-success"
                                                           data-original-title="Editar"
                                                           href="{% url 'mantenimiento-bancos_edit' banco.id %}">
                                                            <i class="material-icons">edit</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col-12'>
                                        {% include 'general/paginador.html' with page_obj=page_obj %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
