{% extends "layouts/base.html" %}

{% block title %} Canales {% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Canales</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar text-right">
                            <a href="{% url 'mantenimiento-canales_create' %}"
                               class="btn btn-gradient-success text-right">
                                <i class='fa fa-plus'></i>
                                Nuevo
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-12">

                                <div class="row">
                                    <div class="col-12 cnt-table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="px-4 py-2">Canal</th>
                                                    <th class="px-4 py-2">OcrCode</th>
                                                    <th class="px-4 py-2">Agrupador</th>
                                                    <th class="px-4 py-2">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for canales in page_obj %}
                                                <tr>
                                                    <td class="border px-4 py-2">
                                                        {% if canales.canal %}{{ canales.canal }}{% endif %}</td>
                                                    <td class="border px-4 py-2">
                                                        {% if canales.ocrcode %}{{ canales.ocrcode }}{% endif %}</td>
                                                    <td class="border px-4 py-2">{% if canales.agrupador %}
                                                        {{ canales.agrupador }}{% endif %}</td>
                                                    <td class="border px-4 py-2 td-actions text-left">
                                                        <a type="button" rel="tooltip"
                                                           class="btn btn-just-icon btn-link btn-success"
                                                           data-original-title="Editar"
                                                           href="{% url 'mantenimiento-canales_edit' canales.id %}">
                                                            <i class="material-icons">edit</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col-12'>
                                        {% include 'general/paginador.html' with page_obj=page_obj %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
