{% extends "layouts/base.html" %}

{% block title %} Centros de costo {% endblock title %}

{% block stylesheets %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Centros de costo</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar text-right">
                            <a href="{% url 'contabilidad-centros_costo' %}" class="btn btn-gradient-danger text-right">
                                <i class="fas fa-chevron-left"></i>
                                Regresar
                            </a>
                        </div>
                        <div class="col-12">

                            <form action="{% url 'contabilidad-centros_costo_create' %}" method="POST">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-6 col-md-2">
                                        <div class="form-group {% if form.idccos.errors %}has-danger{% endif %}">
                                            <label for="idccos" class="bmd-label-floating">IdCcos</label>
                                            <input type="text" name="idccos" id="idccos"
                                                   class="form-control {% if form.idccos.errors %}is-invalid{% endif %}"
                                                   value="{% if form.idccos.value %}{{ form.idccos.value }}{% endif %}">
                                            <div class="invalid-feedback">
                                                {% for error in form.idccos.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-4">
                                        <div class="form-group {% if form.ccosnombre.errors %}has-danger{% endif %}">
                                            <label for="ccosnombre" class="bmd-label-floating">CcosNombre</label>
                                            <input type="text" name="ccosnombre" id="ccosnombre"
                                                   class="form-control {% if form.ccosnombre.errors %}is-invalid{% endif %}"
                                                   value="{% if form.ccosnombre.value %}{{ form.ccosnombre.value }}{% endif %}">
                                            <div class="invalid-feedback">
                                                {% for error in form.ccosnombre.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <div class="form-group {% if form.codccos.errors %}has-danger{% endif %}">
                                            <label for="codccos" class="bmd-label-floating">CodCcos</label>
                                            <input type="text" name="codccos" id="codccos"
                                                   class="form-control {% if form.codccos.errors %}is-invalid{% endif %}"
                                                   value="{% if form.codccos.value %}{{ form.codccos.value }}{% endif %}">
                                            <div class="invalid-feedback">
                                                {% for error in form.codccos.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3">
                                        <div class="form-group {% if form.dim.errors %}has-danger{% endif %}">
                                            <label for="dim" class="bmd-label-floating">Dimensión</label>
                                            <input type="number" name="dim" id="dim"
                                                   class="form-control {% if form.dim.errors %}is-invalid{% endif %}"
                                                   value="{% if form.dim.value %}{{ form.dim.value }}{% endif %}">
                                            <div class="invalid-feedback">
                                                {% for error in form.dim.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="activo" id="activo">
                                                <span class="toggle"></span>
                                                Activo
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-gradient-success">
                                            <i class="material-icons">save</i>
                                            Guardar
                                        </button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}

    <script async defer>
    </script>

{% endblock javascripts %}
