{% extends "layouts/base.html" %}

{% block title %} Presupuestos {% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Presupuestos</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar text-right">
                            <a href="{% url 'contabilidad-presupuestos' %}"
                               class="btn btn-gradient-danger text-right">
                                <i class="fas fa-chevron-left"></i>
                                Regresar
                            </a>
                        </div>
                        <div class="col-12">

                            <form action="{% url 'contabilidad-presupuestos_create' %}" method="POST">
                                {% csrf_token %}

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group is-filled {% if form.fecha.errors %}has-danger{% endif %}">
                                            <label for="fecha">Fecha</label>
                                            <input type="date" name="fecha" id="fecha"
                                                   class="form-control {% if form.fecha.errors %}is-invalid{% endif %}"
                                                   value="{% if form.fecha.value %}{{ form.fecha.value }}{% endif %}">
                                            <div class="invalid-feedback">
                                                {% for error in form.fecha.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group {% if form.descripcion.errors %}has-danger{% endif %}">
                                            <label for="descripcion" class="bmd-label-floating">Descripción</label>
                                            <input type="text" name="descripcion" id="descripcion"
                                                   class="form-control {% if form.descripcion.errors %}is-invalid{% endif %}"
                                                   value="{% if form.descripcion.value %}{{ form.descripcion.value }}{% endif %}">
                                            <div class="invalid-feedback">
                                                {% for error in form.descripcion.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" id="addDetalle" class="btn btn-gradient-primary">
                                            <i class="material-icons">add</i>
                                            Agregar
                                        </button>
                                        <div id="contenidoDetalles">
                                            <table class="table table-striped" id="tableDetalles">
                                                <thead>
                                                <tr>
                                                    <th>Cta Contable</th>
                                                    <th>Ene</th>
                                                    <th>Feb</th>
                                                    <th>Mar</th>
                                                    <th>Abr</th>
                                                    <th>May</th>
                                                    <th>Jun</th>
                                                    <th>Jul</th>
                                                    <th>Ago</th>
                                                    <th>Sep</th>
                                                    <th>Oct</th>
                                                    <th>Nov</th>
                                                    <th>Dic</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tbodyDetalles">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-gradient-success">
                                            <i class="material-icons">save</i>
                                            Guardar
                                        </button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script async defer>
        const arrCuentas = {{ mcuentas|safe }};
        const btnAddDetalle = document.getElementById('addDetalle');

        const createRow = () => {
            const table = document.getElementById("tableDetalles");

            const row = table.insertRow(-1);

            const cell0 = row.insertCell(0);
            cell0.innerHTML = `
                <input type="hidden" name="id[]" id="id_${row.rowIndex}" value="0">
                <select name="ctacontable[]"
                        id="ctacontable_${row.rowIndex}"
                        class="selectpicker"
                        data-style="btn btn-outline-primary"
                        data-live-search="true"
                        title="Cta Contable">
                    ${arrCuentas.map((cuenta) => '<option value="' + cuenta.id +'">' + cuenta.ctacontable + ' - ' + cuenta.ctanombre +'</option>')}
                </select>`;

            const cell1 = row.insertCell(1);
            cell1.innerHTML = `<input type="number" name="ene[]" value="" id="ene_${row.rowIndex}" class="form-control">`;
            const cell2 = row.insertCell(2);
            cell2.innerHTML = `<input type="number" name="feb[]" value="" id="feb_${row.rowIndex}" class="form-control">`;
            const cell3 = row.insertCell(3);
            cell3.innerHTML = `<input type="number" name="mar[]" value="" id="mar_${row.rowIndex}" class="form-control">`;
            const cell4 = row.insertCell(4);
            cell4.innerHTML = `<input type="number" name="abr[]" value="" id="abr_${row.rowIndex}" class="form-control">`;
            const cell5 = row.insertCell(5);
            cell5.innerHTML = `<input type="number" name="may[]" value="" id="may_${row.rowIndex}" class="form-control">`;
            const cell6 = row.insertCell(6);
            cell6.innerHTML = `<input type="number" name="jun[]" value="" id="jun_${row.rowIndex}" class="form-control">`;
            const cell7 = row.insertCell(7);
            cell7.innerHTML = `<input type="number" name="jul[]" value="" id="jul_${row.rowIndex}" class="form-control">`;
            const cell8 = row.insertCell(8);
            cell8.innerHTML = `<input type="number" name="ago[]" value="" id="ago_${row.rowIndex}" class="form-control">`;
            const cell9 = row.insertCell(9);
            cell9.innerHTML = `<input type="number" name="sep[]" value="" id="sep_${row.rowIndex}" class="form-control">`;
            const cell10 = row.insertCell(10);
            cell10.innerHTML = `<input type="number" name="oct[]" value="" id="oct_${row.rowIndex}" class="form-control">`;
            const cell11 = row.insertCell(11);
            cell11.innerHTML = `<input type="number" name="nov[]" value="" id="nov_${row.rowIndex}" class="form-control">`;
            const cell12 = row.insertCell(12);
            cell12.innerHTML = `<input type="number" name="dic[]" value="" id="dic_${row.rowIndex}" class="form-control">`;

            $(`#ctacontable_${row.rowIndex}`).selectpicker();
        };
        btnAddDetalle.addEventListener('click', createRow);
    </script>
{% endblock %}
