{% extends "layouts/base.html" %}

{% block title %} Impuestos {% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Impuestos</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar text-right">
                            <a href="{% url 'mantenimiento-impuestos_create' %}"
                               class="btn btn-gradient-success text-right">
                                <i class='fa fa-plus'></i>
                                Nuevo
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 cnt-table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="px-4 py-2">Nombre Ret</th>
                                                    <th class="px-4 py-2">Categoría</th>
                                                    <th class="px-4 py-2">Fecha Valido</th>
                                                    <th class="px-4 py-2">Tarifa</th>
                                                    <th class="px-4 py-2">Base</th>
                                                    <th class="px-4 py-2">Porcentaje Impuesto Base</th>
                                                    <th class="px-4 py-2">Cuenta Contable</th>
                                                    <th class="px-4 py-2">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for impuestos in page_obj %}
                                                <tr>
                                                    <td class="border px-4 py-2">{{ impuestos.nombreret }}</td>
                                                    <td class="border px-4 py-2">{% if impuestos.categoria %}{{ impuestos.categoria }}{% endif %}</td>
                                                    <td class="border px-4 py-2">{% if impuestos.fechavalido %}{{ impuestos.fechavalido|date:"d/m/Y" }}{% endif %}</td>
                                                    <td class="border px-4 py-2">{% if impuestos.tarifa %}{{ impuestos.tarifa }}{% endif %}</td>
                                                    <td class="border px-4 py-2">{% if impuestos.base %}{{ impuestos.base }}{% endif %}</td>
                                                    <td class="border px-4 py-2">{% if impuestos.prcimpbase %}{{ impuestos.prcimpbase }}{% endif %}</td>
                                                    <td class="border px-4 py-2">{% if impuestos.ctaconatble %}{{ impuestos.ctaconatble }}{% endif %}</td>
                                                    <td class="border px-4 py-2 td-actions text-left">
                                                        <a type="button" rel="tooltip"
                                                           class="btn btn-just-icon btn-link btn-success"
                                                           data-original-title="Editar"
                                                           href="{% url 'mantenimiento-impuestos_edit' impuestos.id %}">
                                                            <i class="material-icons">edit</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col-12'>
                                        {% include 'general/paginador.html' with page_obj=page_obj %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
