{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/mundo.png">
        <link rel="icon" type="image/png" href="/static/assets/img/mundo.png">
        <title>Factura</title>

        <style type="text/css">

            @media print {
                @page {
                    size: letter;
                    margin: 7mm 12.4mm 1mm 10.5mm;
                }
            }

            html {
                font-family: "Times New Roman", Times, serif;
            }

            body {
                margin: 0;
                padding: 0;
                color: black;
                font-size: 12px;
                font-family: "Times New Roman", Times, serif;
            }

            .logoText {
                font-size: 14px;
                text-align: center;
            }

            div.break {
                page-break-before:always;
            }

            .a {
                font-weight: bold;
            }

            .custom {
                height: 7px;
                display: block;
            }

            .cambiariaText {
                width: 100%;
                text-align: justify;
                font-size: 10px;
                height: auto;
                margin-top: 0.8em;
            }

            .cambiariaTextFirma {
                width: 100mm;
                text-align: justify;
                font-size: 10px;
                height: auto;
                margin-top: 1.7em;
            }

            .mainTable {
                border: 1px solid #4f229d;
                border-collapse: collapse;
                width: 100%;
                font-size: 10px;
            }

            .mainTable th, td {
                border: 1px solid #4f229d;
                border-bottom: none solid;
                padding: 0.2rem 0.4rem;
                font-weight: normal;
            }

            .titles {
                white-space: nowrap;
                text-align: center;
                font-weight: lighter;
            }

            .mainTable td {
                vertical-align: top;
                border-style: none solid;
                white-space: nowrap;
            }

            .certificacion {
                text-align: center;
                font-weight: bold;
                font-size: 10px;
            }
            .new2 {
                border-top: 1px dashed black;
            }

        </style>
    </head>
    <body>
        <div style="width: 100%;position: relative;display: inline-block;" >
            <div style="position:relative;display:block;float: left;width: 39%;">
                <div class="logoText">
                    <img src="https://nova.ffinter.com/{% static 'modules/ventas/facturacion/logoGosnell.png' %}" alt="Logo"/>
                    <p style="margin: 1px;">Alimentos Gosnell {% if establecimiento != 1 %}{{ establecimiento }}{% endif %}, Sociedad Anónima.</p>
                    <p style="margin: 1px;">{{ str_direccion }}</p>
                    <p style="margin: 1px;">Guatemala, Guatemala</p>
                    <p style="margin-top: 1px;font-weight: bold;">NIT.: 9741278-3</p>
                </div>
            </div>
            <div style="position:relative;display:block;float: left;width: 0.99%;">
                &nbsp;
            </div>
            <div style="position:relative;display:block;float: left;width: 60%;">
                <div style="border: 1px solid black;position: relative; left: 172px;top: 11px;width: 266px;font-weight: bold;text-align: center;padding: 20px 0px 22px 0px;">
                    <span>FACTURA CAMBIARIA ELECTRÓNICA</span><br/>
                    <span style="line-height: 1.5;">LIBRE DE PROTESTO</span><br/>
                    <span style="line-height: 1;">SERIE:</span>&nbsp;<span style="color: #b71c1c">{{ factura.Serie }}</span><br/>
                    <span style="line-height: 1;">NÚMERO:</span>&nbsp;<span style="color: #b71c1c">{{ factura.FelNoDocumento }}</span>
                </div>
                <div style="position: relative; left: 172px;top: 11px;width: 266px;font-weight: bold;text-align: center;color: #b71c1c;">
                    fecha de certificación: {{ factura.fecha_autorizacion|date:"Y-m-d h:m:s.u" }}
                </div>

            </div>
        </div>
        <div style="width: 100%;position: relative;display: inline-block;" >
            <div style="position:relative;display:block;float: left;width: 47%;top: -7px;">
                <span class="a">CREDITO:&nbsp;<input type="checkbox" style="position: relative;display: inline-block;top: 0;" {% if factura.EsCredito == 1 %}checked{% endif %} /></span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="a">CONTADO:&nbsp;<input type="checkbox" style="position: relative;display: inline-block;top: 0;" {% if factura.EsCredito == 0 %}checked{% endif %} /></span>
                <br class="custom" />
                <span class="a">FECHA DE EMISIÓN: </span><span class="b">{{ factura.Fecha|date:"d/m/Y" }}</span>
                <br class="custom" />
                <span class="a">NOMBRE: </span><span class="b">{{ factura.Nombre }}</span>
                <br class="custom" />
                <span class="a">DIRECCION: </span><span class="b">{{ factura.Direccion }}</span>
                <br class="custom" />
                <span class="a">NIT: </span><span class="b">{{ factura.NoNit }}</span>
            </div>
            <div style="position:relative;display:block;float: left;width: 0.99%;">
                &nbsp;
            </div>
            <div style="position:relative;display:block;float: left;width: 52%;top: -8px;">
                <div class="cambiariaText">
                   En Guatemala a <span style="font-weight: bold;">{% if factura.EsCredito == 1 %}{{ factura.DiasCredito }}{% else %}0{% endif %}</span> días vista se servirá(n) usted(es) pagara por esta única
                   Factura Cambiaria girada libre de protesto a la orden o endoso de ALIMENTOS
                   GOSNELL {% if establecimiento != 1 %}{{ establecimiento }}{% endif %}, S.A, el valor total por lo que está extendida o por el último saldo
                   insoluto que aparezca.
                </div>
                <div class="cambiariaText">
                    EL PRINCIPAL DE ESTA FACTURA CAMBIARIA DEVENGA INTERESES A
                    RAZON DEL 2% mensuales en pago total o parcial que exceda el tiempo
                    estipulado en esta factura.
                 </div>
                 <div class="cambiariaText">
                    Esta factura no se considera cancelada si no la ampara el recibo de caja
                    correspondiente.
                 </div>
                 <div class="cambiariaTextFirma">
                    (f) Aceptado ______________________________________________
                 </div>
            </div>
        </div>
        <div style="width: 100%;position: relative;display: inline-block;" >
            <div style="position:relative;display:block;float: left;width: 100%;margin-top: 11px;">
                <table class="mainTable">
                    <thead>
                        <tr>
                            <th class="titles" style="width: 10%;">CÓDIGO</th>
                            <th class="titles" style="width: 10%;">CANTIDAD</th>
                            <th class="titles" style="width: 60%;">DESCRIPCIÓN</th>
                            <th class="titles" style="width: 10%;">P/UNITARIO</th>
                            <th class="titles" style="width: 10%;">VALOR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in detalles %}
                            <tr class="product">
                                <td style="text-align: right;">{{ detalle.CodigoProducto }}</td>
                                <td style="text-align: right;">{{ detalle.Cantidad }} {{ detalle.abreviatura }}</td>
                                <td class="description">{{ detalle.Descripcion }} {% if detalle.ImprimirCajas %}{{ detalle.Cajas }} Cajas{% endif %}</td>
                                <td style="text-align: right;">Q{{ detalle.VUnitario|intcomma }}</td>
                                <td style="text-align: right;">Q{{ detalle.Total|intcomma }}</td>
                            </tr>
                        {% endfor %}
                        {% for i in completar %}
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th class="left">{{ total_en_letras }}</th>
                            <th></th>
                            <th class="right">Q{{ factura.Total|intcomma }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div style="position:relative;display:block;float: left;width: 100%;">
                <span style="font-size: 8px; margin: 0">SUJETO A PAGOS TRIMESTRALES | Agente de Retención del IVA</span>
            </div>
            <div style="position:relative;display:block;float: left;width: 100%;" class="certificacion">
                <p style="margin: 0;">NO. AUTORIZACIÓN: {{ factura.numero_autorizacion }}</p>
                <p style="margin: 0">CERTIFICADOR: MEGAPRINT, S.A.</p>
                <p style="margin-top: 0">NIT: 50510231</p>
            </div>
            <div style="position:relative;display:block;float: left;width: 100%;">
                <p style='margin: -5px 0 0 0; font-size: 9px;'>CV: {{ factura.NoVendedor }} CC: {{ factura.CodigoCliente }} NP: {{ factura.NoDocumento }} S: {{ str_lugar_salida }}</p>
            </div>
            {% if detalles|length < 14 %}
                <div style="position:relative;display:block;float: left;width: 100%;margin-top: -2px;">
                    <hr style="border-bottom: 1px dashed black;">
                </div>
            {% endif %}
        </div>
        {% if detalles|length >= 14 %}
            <div class="break"></div>
        {% endif %}
        <div style="width: 100%;position: relative;display: inline-block;margin-top: 20px;">
            <div style="position:relative;display:block;float: left;width: 34%;">
                <div class="logoText">
                    <h2 style="margin: 0">NOTA DE ENTREGA</h2>
                    <p style="margin: 1px;">Alimentos Gosnell {% if establecimiento != 1 %}{{ establecimiento }}{% endif %}, Sociedad Anónima.</p>
                    <p style="margin: 1px;">{{ str_direccion }}</p>
                    <p style="margin: 1px;">Guatemala, Guatemala</p>
                    <p style="margin-top: 1px; font-weight: bold">NIT.: 9741278-3</p>
                </div>
            </div>
            <div style="position:relative;display:block;float: left;width: 0.99%;">
            </div>
            <div style="position:relative;display:block;float: left;width: 27%;margin-top: 21px; left: 5px;">
                <span class="a">FECHA DE EMISIÓN: </span><span class="b">{{ factura.Fecha|date:"d/m/Y" }}</span>
                <br class="custom" />
                <span class="a">NOMBRE: </span><span class="b">{{ factura.Nombre }}</span>
                <br class="custom" />
                <span class="a">NIT: </span><span class="b">{{ factura.NoNit }}</span>
            </div>
            <div style="position:relative;display:block;float: left;width: 2.2%;">
                &nbsp;
            </div>
            <div style="position:relative;display:block;float: left;width: 34%;">
                <div style="border: 1px solid black;position: relative;width: 265.5px;font-weight: bold;text-align: center;padding: 20px 0px 27px 0px;">
                    <span>FACTURA CAMBIARIA ELECTRÓNICA</span><br/>
                    <span>LIBRE DE PROTESTO</span><br/>
                    <span>SERIE:</span>&nbsp;<span style="color: #b71c1c">{{ factura.Serie }}</span><br/>
                    <span>NÚMERO:</span>&nbsp;<span style="color: #b71c1c">{{ factura.FelNoDocumento }}</span>
                </div>
                <div style="position: relative;width: 266px;font-weight: bold;text-align: center;color: #b71c1c;">
                    fecha de certificación: {{ factura.fecha_autorizacion|date:"Y-m-d h:m:s.u" }}
                </div>
            </div>
        </div>
        <div style="width: 100%;position: relative;display: inline-block;" >
            <div style="position:relative;display:block;float: left;width: 100%;margin-top: 17px;">
                <table class="mainTable">
                    <thead>
                        <tr>
                            <th class="titles" style="width: 10%;">CÓDIGO</th>
                            <th class="titles" style="width: 10%;">CANTIDAD</th>
                            <th class="titles" style="width: 60%;">DESCRIPCIÓN</th>
                            <th class="titles" style="width: 10%;">P/UNITARIO</th>
                            <th class="titles" style="width: 10%;">VALOR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in detalles %}
                            <tr class="product">
                                <td style="text-align: right;">{{ detalle.CodigoProducto }}</td>
                                <td style="text-align: right;">{{ detalle.Cantidad }} {{ detalle.abreviatura }}</td>
                                <td class="description">{{ detalle.Descripcion }} {% if detalle.ImprimirCajas %}{{ detalle.Cajas }} Cajas{% endif %}</td>
                                <td style="text-align: right;">Q{{ detalle.VUnitario|intcomma }}</td>
                                <td style="text-align: right;">Q{{ detalle.Total|intcomma }}</td>
                            </tr>
                        {% endfor %}
                        {% for i in completar %}
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th class="left">{{ total_en_letras }}</th>
                            <th></th>
                            <th class="right">Q{{ factura.Total|intcomma }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div style="width: 100%;position: relative;display: inline-block;margin-top: 5px;" >
            <span style="font-size: 12px;">Recibí conforme.______________________________________________&nbsp;&nbsp;&nbsp;No. Pedido: {{ factura.NoDocumento }}&nbsp;No. Ruta: {{ factura.NoRuta }}&nbsp;&nbsp;&nbsp;C.: {{ factura.CodigoCliente }}&nbsp;S.: {{ factura.Salida }}</span>
            <br>
            <span style="font-size: 12px;">Observaciones: {{ factura.Observaciones }}</span>
        </div>
    </body>
</html>