{% extends "layouts/base.html" %}

{% block title %} Gastos de Importación {% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">groups</i>
                        </div>
                        <h4 class="card-title">Gastos de Importación</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar text-right">
                            <a href="{% url 'mantenimiento-gasto_importacion' %}"
                               class="btn btn-gradient-danger text-right">
                                <i class="material-icons">arrow_back</i>
                                Regresar
                            </a>
                        </div>
                        <div class="col-12">

                            <form action="{% url 'mantenimiento-gasto_importacion_edit' id %}" method="POST">
                                {% csrf_token %}

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group {% if form.ctagasto.errors %}has-danger{% endif %}">
                                            <select name="ctagasto" id="ctagasto"
                                                    class="selectpicker {% if form.ctagasto.errors %}is-invalid{% endif %}"
                                                    data-style="btn {% if form.ctagasto.errors %}btn-outline-danger{% else %}btn-outline-primary{% endif %}"
                                                    title="Cuenta">
                                                {% for ctagasto in form.ctagasto %}
                                                    {{ ctagasto }}
                                                {% endfor %}
                                            </select>
                                            <div class="text-danger">
                                                {% for error in form.ctagasto.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group {% if form.nombregasto.errors %}has-danger{% endif %}">
                                            <label for="nombregasto" class="bmd-label-floating">Nombre Gasto</label>
                                            <input type="text" name="nombregasto" id="nombregasto"
                                                   class="form-control {% if form.nombregasto.errors %}is-invalid{% endif %}"
                                                   value="{% if form.nombregasto.value %}{{ form.nombregasto.value }}{% endif %}">
                                            <div class="invalid-feedback">
                                                {% for error in form.nombregasto.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-gradient-success">
                                            <i class="material-icons">save</i>
                                            Guardar
                                        </button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
