{% extends "layouts/base-public.html" %}

{% block title %} Política de Privacidad del App Ventas GB {% endblock title %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <h4 class="card-title">Política de Privacidad del App Ventas GB</h4>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="offset-2 col-8">
                                    <img src="/static/assets/img/logo_vertical.jpg" class="card-img-top"
                                         alt="No se puedo cargar la imagen">
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h1>Política de Privacidad del App de Grupo Buena S.A.</h1>

                                        <p>Fecha de entrada en vigencia: 23/06/2023</p>

                                        <p>En Grupo Buena S.A., nos comprometemos a proteger su privacidad y a
                                            garantizar la seguridad de su información personal. Esta Política de
                                            Privacidad describe cómo recopilamos, utilizamos y protegemos la información
                                            personal que usted proporciona al utilizar nuestra aplicación móvil ("Ventas
                                            GB"). Lea detenidamente esta política antes de utilizar el App.</p>

                                        <h2>1. Uso exclusivo de empleados internos</h2>

                                        <p>El App de Grupo Buena S.A. ha sido diseñado y desarrollado exclusivamente
                                            para su uso por parte de los empleados internos de nuestra empresa. No está
                                            permitido el acceso ni la utilización del App por parte de personas ajenas a
                                            Grupo Buena S.A., a menos que se les haya otorgado un permiso expreso por
                                            escrito.</p>

                                        <h2>2. Ubicación del empleado</h2>

                                        <p>El App solicitará acceso a la ubicación del empleado únicamente cuando este
                                            registre una visita a un cliente. Esta información será utilizada únicamente
                                            para fines de registro interno y mejora de la eficiencia en el servicio al
                                            cliente. No compartiremos esta información con terceros sin su
                                            consentimiento expreso, a menos que estemos legalmente obligados a
                                            hacerlo.</p>

                                        <h2>3. Ausencia de anuncios</h2>

                                        <p>Nos comprometemos a garantizar que el App de Grupo Buena S.A. esté libre de
                                            cualquier tipo de anuncios publicitarios. No utilizaremos su información
                                            personal con el fin de mostrar anuncios dentro del App ni compartiremos su
                                            información con terceros con fines publicitarios.</p>

                                        <h2>4. Recopilación y uso de información</h2>

                                        <p>Al utilizar el App, podemos recopilar información personal limitada, como su
                                            nombre, número de empleado y dirección de correo electrónico. Esta
                                            información será utilizada únicamente para fines internos, como el
                                            seguimiento de actividades y el mejoramiento de nuestros servicios. No
                                            compartiremos su información personal con terceros, excepto cuando sea
                                            necesario para cumplir con las leyes y regulaciones aplicables, o cuando
                                            tengamos su consentimiento expreso.</p>

                                        <h2>5. Seguridad de la información</h2>

                                        <p>Nos esforzamos por mantener la seguridad de su información personal y hemos
                                            implementado medidas técnicas y organizativas adecuadas para protegerla
                                            contra el acceso no autorizado, la divulgación, la alteración o destrucción
                                            accidental. Sin embargo, tenga en cuenta que ninguna transmisión de datos a
                                            través de Internet o cualquier sistema de almacenamiento electrónico puede
                                            garantizar una seguridad absoluta.</p>

                                        <h2>6. Derechos del titular de los datos</h2>

                                        <p>Como titular de los datos personales, usted tiene ciertos derechos que pueden
                                            ejercerse según lo establecido por las leyes de protección de datos
                                            vigentes. Estos derechos pueden incluir el acceso, la rectificación, la
                                            cancelación y la oposición al uso de su información personal. Si desea
                                            ejercer alguno de estos derechos o tiene alguna pregunta o inquietud sobre
                                            esta Política de Privacidad, puede ponerse en contacto con nosotros a través
                                            de los canales indicados al final de este documento.</p>

                                        <h2>7. Cambios en la política de privacidad</h2>

                                        <p>Nos reservamos el derecho de modificar esta Política de Privacidad en
                                            cualquier momento sin previo aviso. Cualquier cambio realizado será efectivo
                                            a partir de la fecha de entrada en vigor indicada al comienzo del documento.
                                            Le recomendamos que revise esta Política de Privacidad periódicamente para
                                            estar al tanto de cualquier cambio.</p>

                                        <p>Gracias por utilizar el App de Grupo Buena S.A. Valoramos su privacidad y nos
                                            comprometemos a protegerla. Si tiene alguna pregunta o inquietud sobre esta
                                            Política de Privacidad o sobre cómo manejamos su información personal, no
                                            dude en ponerse en contacto con nosotros.</p>

                                        <p>Atentamente,</p>

                                        <p>Grupo Buena S.A</p>
                                        <p>gbdevapps@gmail.com</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}

    <script>
        const boolGlobalBlockValidateLogin = true;
    </script>
{% endblock %}
