<html>
    <header>

    </header>
    <body>
        <div class="row">
            <h3>SOLICITUD DE VACACIONES</h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-2">
                Nombre:
            </div>
            <div class="col-12 col-md-10">
                __ __ __ __
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-1">
                Fecha:
            </div>
            <div class="col-12 col-md-5">
                __ __ __ __
            </div>
            <div class="col-12 col-md-1">
                Empresa:
            </div>
            <div class="col-12 col-md-5">
                __ __ __ __
            </div>
        </div>
    </body>
</html>