{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
    <style></style>
{% endblock %}

{% block content %}
    {% load humanize %}
    {% load static %}
    {% csrf_token %}
    <div>
        <h2>MI DASHBOARD</h2>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Ubicación Cliente</h4>
                        </div>
                        <!-- <div class="card-body">
                            <div class="row">
                                <button type="button" class="btn btn-primary">
                                    Primary
                                    <i class="fa fa-search"></i>
                                </button>
                                <button type="button" class="btn btn-secondary">Secondary</button>
                                <button type="button" class="btn btn-info">Info</button>
                                <button type="button" class="btn btn-success">Success</button>
                                <button type="button" class="btn btn-danger">Danger</button>
                                <button type="button" class="btn btn-warning">Warning</button>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-outline-primary">Primary</button>
                                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                                    <button type="button" class="btn btn-outline-info">Info</button>
                                    <button type="button" class="btn btn-outline-success">Success</button>
                                    <button type="button" class="btn btn-outline-danger">Danger</button>
                                    <button type="button" class="btn btn-outline-warning">Warning</button>
                                </div>
                            </div>

                            <div class="row">
                                <button type="button" class="btn btn-gradient-primary">Primary</button>
                                <button type="button" class="btn btn-gradient-secondary">Secondary</button>
                                <button type="button" class="btn btn-gradient-info">Info</button>
                                <button type="button" class="btn btn-gradient-success">Success</button>
                                <button type="button" class="btn btn-gradient-danger">Danger</button>
                                <button type="button" class="btn btn-gradient-warning">Warning</button>
                                <button type="button" class="btn btn-gradient-dark">Dark</button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card bg-primary">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-white text-sm mb-0 text-uppercase font-weight-bold opacity-7">Today's
                                            Trip
                                        </p>
                                        <h5 class="text-white font-weight-bolder mb-0">
                                            145 Km
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-white shadow text-center rounded-circle">
                                        <i class="ni ni-money-coins text-dark text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card bg-info">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-white text-sm mb-0 text-uppercase font-weight-bold opacity-7">Today's
                                            Trip
                                        </p>
                                        <h5 class="text-white font-weight-bolder mb-0">
                                            145 Km
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-white shadow text-center rounded-circle">
                                        <i class="ni ni-money-coins text-dark text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card bg-success">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-white text-sm mb-0 text-uppercase font-weight-bold opacity-7">Today's
                                            Trip
                                        </p>
                                        <h5 class="text-white font-weight-bolder mb-0">
                                            145 Km
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-white shadow text-center rounded-circle">
                                        <i class="ni ni-money-coins text-dark text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card bg-warning">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-white text-sm mb-0 text-uppercase font-weight-bold opacity-7">Today's
                                            Trip
                                        </p>
                                        <h5 class="text-white font-weight-bolder mb-0">
                                            145 Km
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-white shadow text-center rounded-circle">
                                        <i class="ni ni-money-coins text-dark text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card bg-danger">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-white text-sm mb-0 text-uppercase font-weight-bold opacity-7">Today's
                                            Trip
                                        </p>
                                        <h5 class="text-white font-weight-bolder mb-0">
                                            145 Km
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-white shadow text-center rounded-circle">
                                        <i class="ni ni-money-coins text-dark text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills nav-pills-icons" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">Datos Empresa</a>
                        </li>
                      <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">Finanzas</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">Parametros Fel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">Parametros Contables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">Parametros de Importacion</a>
                        </li>
                    </ul>
                    <div class="tab-content tab-space">
                        <div class="tab-pane active" id="link1">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                       
                                        <label for="nombreempresa" class="bmd-label-floating">Nombre Comercial</label>
                                        <input type="text" class="form-control " id="nombreempresa" name="nombreempresa" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                        <label for="direccion" class="bmd-label-floating">Direccion Comercial</label>
                                        <input type="text" class="form-control " id="direccion" name="direccion" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                        
                                        <label for="razonsocial" class="bmd-label-floating">Razon Social</label>
                                        <input type="text" class="form-control " id="razonsocial" name="razonsocial" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                        
                                        <label for="dirsocial" class="bmd-label-floating">Direccion Social</label>
                                        <input type="text" class="form-control " id="dirsocial" name="dirsocial" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                    
                                        <label for="nombre" class="bmd-label-floating">Telefono</label>
                                        <input type="text" class="form-control " id="telefono" name="telefono" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>    

                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                    
                                        <label for="nitempresa" class="bmd-label-floating">Nit empresa</label>
                                        <input type="text" class="form-control " id="nitempresa" name="nitempresa" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                    
                                        <label for="cloud" class="bmd-label-floating">Cloud</label>
                                        <input type="text" class="form-control " id="cloud" name="cloud" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                    
                                        <label for="usarlector" class="bmd-label-floating">Lector de Barras</label>
                                        <input type="text" class="form-control " id="usarlector" name="usarlector" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                    
                                        <label for="rolempresa" class="bmd-label-floating">Rol Empresa</label>
                                        <input type="text" class="form-control " id="rolempresa" name="rolempresa" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                    
                                        <label for="manejainv" class="bmd-label-floating">Maneja Inventario</label>
                                        <input type="text" class="form-control " id="manejainv" name="manejainv" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                    
                                        <label for="preciomanual" class="bmd-label-floating">Precio Manual</label>
                                        <input type="text" class="form-control " id="preciomanual" name="preciomanual" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                    
                                        <label for="metodoimporta" class="bmd-label-floating">Modulo Contable</label>
                                        <input type="text" class="form-control " id="metodoimporta" name="metodoimporta" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                    
                                        <label for="codexport" class="bmd-label-floating">Codigo Exportador</label>
                                        <input type="text" class="form-control " id="codexport" name="codexport" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group bmd-form-group">
                                    
                                        <label for="logo" class="bmd-label-floating">Logo</label>
                                        <input type="text" class="form-control " id="logo" name="logo" value="">
                                        <div class="invalid-feedback">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="link2"></div>
                        <div class="tab-pane" id="link3"></div>
                        <div class="tab-pane" id="link4"></div>
                        <div class="tab-pane" id="link5"></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script></script>
{% endblock javascripts %}
