{% extends "layouts/base.html" %}

{% block title %} Bodegas {% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Bodegas</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar text-right">
                            <a href="{% url 'mantenimiento-bodega_create' %}"
                               class="btn btn-gradient-success text-right">
                                <i class='fa fa-plus'></i>
                                Nuevo
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-12">

                                <div class="row">
                                    <div class="col-12 cnt-table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="px-4 py-2">NBodega</th>
                                                    <th class="px-4 py-2">Ubicacion</th>
                                                    <th class="px-4 py-2">Predet</th>
                                                    <th class="px-4 py-2">Cuenta Contable</th>
                                                    <th class="px-4 py-2">Centro de Costo</th>
                                                    <th class="px-4 py-2">Activo</th>
                                                    <th class="px-4 py-2">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for bodega in page_obj %}
                                                <tr>
                                                    <td class="border px-4 py-2">{{ bodega.nbodega }}</td>
                                                    <td class="border px-4 py-2">{{ bodega.ubicacion }}</td>
                                                    <td class="border px-4 py-2">
                                                        {% if bodega.predet %}
                                                            Si
                                                        {% else %}
                                                            No
                                                        {% endif %}
                                                    </td>
                                                    <td class="border px-4 py-2">
                                                        {% if bodega.ctacontable %}
                                                            {{ bodega.ctacontable }}{% endif %}</td>
                                                    <td class="border px-4 py-2">
                                                        {% if bodega.cencos %}{{ bodega.cencos }}{% endif %} </td>
                                                    <td class="border px-4 py-2">
                                                        {% if bodega.activo %}
                                                            Si
                                                        {% else %}
                                                            No
                                                        {% endif %}
                                                    </td>
                                                    <td class="border px-4 py-2 td-actions text-left">
                                                        <a type="button" rel="tooltip"
                                                           class="btn btn-just-icon btn-link btn-success"
                                                           data-original-title="Editar"
                                                           href="{% url 'mantenimiento-bodega_edit' bodega.id %}">
                                                            <i class="material-icons">edit</i>
                                                        </a>
                                                        <a type="button" rel="tooltip"
                                                           class="btn btn-just-icon btn-link btn-danger"
                                                           data-original-title="Eliminar"
                                                           href="{% url 'mantenimiento-bodega_delete' bodega.id %}">
                                                            <i class="material-icons">delete</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col-12'>
                                        {% include 'general/paginador.html' with page_obj=page_obj %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
