{% extends "layouts/base.html" %}

{% block title %} Configuración de Cuentas Conciliación Cuadrática {% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Configuración de Cuentas Conciliación Cuadrática</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar text-right">
                            <a href="{% url 'bancos-cuentas_conciliacion_cuadratica_create' %}"
                               class="btn btn-gradient-success text-right">
                                <i class='fa fa-plus'></i>
                                Nuevo
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 cnt-table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="px-4 py-2">Descripción</th>
                                                    <th class="px-4 py-2">Cuenta Contable</th>
                                                    <th class="px-4 py-2">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for cuentas_conciliacion_cuadratica in page_obj %}
                                                <tr>
                                                    <td class="border px-4 py-2">{{ cuentas_conciliacion_cuadratica.descri }}</td>
                                                    <td class="border px-4 py-2">{% if cuentas_conciliacion_cuadratica.ctacontable %}{{ cuentas_conciliacion_cuadratica.ctacontable }}{% endif %}</td>
                                                    <td class="border px-4 py-2 td-actions text-left">
                                                        <a type="button" rel="tooltip"
                                                           class="btn btn-just-icon btn-link btn-success"
                                                           data-original-title="Editar"
                                                           href="{% url 'bancos-cuentas_conciliacion_cuadratica_edit' cuentas_conciliacion_cuadratica.id %}">
                                                            <i class="material-icons">edit</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                {% include 'general/paginador.html' with page_obj=page_obj %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
