{% extends "layouts/base.html" %}

{% block title %} Configuración de Cuentas Conciliación Cuadrática {% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">groups</i>
                        </div>
                        <h4 class="card-title">Configuración de Cuentas Conciliación Cuadrática</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar text-right">
                            <a href="{% url 'bancos-cuentas_conciliacion_cuadratica' %}"
                               class="btn btn-gradient-danger text-right">
                                <i class="material-icons">arrow_back</i>
                                Regresar
                            </a>
                        </div>
                        <div class="col-12">

                            <form action="{% url 'bancos-cuentas_conciliacion_cuadratica_edit' id %}" method="POST">
                                {% csrf_token %}

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group {% if form.ctacontable.errors %}has-danger{% endif %}">
                                            <select name="ctacontable" id="ctacontable"
                                                    class="selectpicker {% if form.ctacontable.errors %}is-invalid{% endif %}"
                                                    data-style="btn {% if form.ctacontable.errors %}btn-outline-danger{% else %}btn-outline-primary{% endif %}"
                                                    title="Cuenta" data-live-search="true">
                                                {% for ctacontable in form.ctacontable %}
                                                    {{ ctacontable }}
                                                {% endfor %}
                                            </select>
                                            <div class="text-danger">
                                                {% for error in form.ctacontable.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group {% if form.descri.errors %}has-danger{% endif %}">
                                            <label for="descri" class="bmd-label-floating">Descripción</label>
                                            <input type="text" name="descri" id="descri"
                                                   class="form-control {% if form.descri.errors %}is-invalid{% endif %}"
                                                   value="{% if form.descri.value %}{{ form.descri.value }}{% endif %}">
                                            <div class="invalid-feedback">
                                                {% for error in form.descri.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-gradient-success">
                                            <i class="material-icons">save</i>
                                            Guardar
                                        </button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
