{% extends "layouts/base.html" %}

{% block title %} Grupos {% endblock title %}

{% block stylesheets %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Grupos</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar text-right">
                            <a href="{% url 'contabilidad-grupos_create' %}"
                               class="btn btn-gradient-success text-right">
                                <i class='fa fa-plus'></i>
                                Nuevo
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-12 cnt-table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="px-4 py-2">CodigoGrupo</th>
                                                <th class="px-4 py-2">Grupo</th>
                                                <th class="px-4 py-2">Activo</th>
                                                <th class="px-4 py-2">Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for grupo in page_obj %}
                                                <tr>
                                                    <td class="border px-4 py-2">{% if grupo.codigogrupo %}{{ grupo.codigogrupo }}{% endif %}</td>
                                                    <td class="border px-4 py-2">{% if grupo.grupo %}{{ grupo.grupo }}{% endif %}</td>
                                                    <td class="border px-4 py-2">
                                                        {% if grupo.activo %}
                                                            Si
                                                        {% else %}
                                                            No
                                                        {% endif %}
                                                    </td>
                                                    <td class="border px-4 py-2 td-actions text-left">
                                                        <a type="button" rel="tooltip"
                                                           class="btn btn-just-icon btn-link btn-success"
                                                           data-original-title="Editar"
                                                           href="{% url 'contabilidad-grupos_edit' grupo.id %}">
                                                            <i class="material-icons">edit</i>
                                                        </a>
                                                        <a type="button" rel="tooltip"
                                                           class="btn btn-just-icon btn-link btn-danger"
                                                           data-original-title="Eliminar"
                                                           href="{% url 'contabilidad-grupos_delete' grupo.id %}">
                                                            <i class="material-icons">delete</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class='row'>
                                    <div class='col-12'>
                                        {% include 'general/paginador.html' with page_obj=page_obj %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
